@page "/mahasiswa"
@inject HttpClient Http
@using System.Net.Http
@using System.Net.Http.Json

<PageTitle>List mahasiswa</PageTitle>

<h1>Mahasiswa SI UKDW</h1>

<p>This component demonstrates fetching data Mahasiswa from the server.</p>

@if (mhs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="input-group col">
        <input type="text" class="form-control" placeholder="Cari Mahasiswa" @bind="SearchString" />
        <button @onclick="CariData">Cari</button>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nama</th>
                <th>NIM</th>
                <th>Alamat</th>
                <th>Email</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mh in mhs)
            {
                <tr>
                    <td>@mh.id</td>
                    <td>@mh.nama</td>
                    <td>@mh.nim</td>
                    <td>@mh.alamat</td>
                    <td>@mh.email</td>
                    <td>@mh.foto</td>
                </tr>
            }
        </tbody>
        <div class="card-footer text-center">
                <a href="insertmhs" class="btn btn-primary m-1">Add</a>
        </div>
    </table>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        mhs = await Http.GetFromJsonAsync<List<Mahasiswa>>("https://kpsi.fti.ukdw.ac.id/api/progmob/mhs/5555");
        searchUserData = mhs;
    }
    protected List<Mahasiswa> searchUserData = new();
    protected List<Mahasiswa> mhs = new();
    protected string SearchString { get; set; } = string.Empty;
    protected void CariData(){
        if (!string.IsNullOrEmpty(SearchString)){
            mhs = searchUserData.Where(x => x.nim.IndexOf(SearchString, StringComparison.OrdinalIgnoreCase) != -1).ToList();
        }else{
            mhs = searchUserData;
        }
    }
}
