@page "/mhsedit"
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager Navi


<input @bind="@ditnama" />
<input @bind="@ditnim"  />
<input @bind="@ditalamat" />
<input @bind="@ditemail" />
<input @bind="@ditfoto" />
<input @bind="@ditnim_progmob" />
<button @onclick="UpdateMhs">Update</button>
<button @onclick="DeleteMhs">Delete</button>

@code {
    [Parameter]
[SupplyParameterFromQuery(Name = "id")]
    public int Uid {get;set;}
    [Parameter]
    [SupplyParameterFromQuery(Name = "nama")]
    public string ditnama {get;set;}
    [Parameter]
    [SupplyParameterFromQuery(Name = "nim")]
    public string ditnim {get;set;}
    [Parameter]
    [SupplyParameterFromQuery(Name = "alamat")]
    public string ditalamat {get;set;}
    [Parameter]
    [SupplyParameterFromQuery(Name = "email")]
    public string ditemail {get;set;}
    [Parameter]
    [SupplyParameterFromQuery(Name = "foto")]
    public string ditfoto {get;set;}

    public string? ditnim_progmob;
 

    public async Task UpdateMhs()
    {
        var editItem = new Mahasiswa {  nama = ditnama, nim = ditnim, Unim_cari=ditnim, alamat = ditalamat, email = ditemail, foto = ditfoto, nim_progmob = ditnim_progmob , id =Uid};
        await Http.PostAsJsonAsync("https://kpsi.fti.ukdw.ac.id/api/progmob/mhs/update", editItem);
        Navi.NavigateTo("mahasiswa");
    }
    public async Task DeleteMhs()
    {
        var DeleteItem = new Mahasiswa {  nim_progmob = ditnim_progmob , id =Uid};
        await Http.PostAsJsonAsync("https://kpsi.fti.ukdw.ac.id/api/progmob/mhs/delete", DeleteItem);
        Navi.NavigateTo("mahasiswa");
    }
}